DRAGON_ENV=development
DRAGON_SECRET_KEY=
DRAGON_DATABASE_URL=
DRAGON_AUTH_REQUIRED=true
DRAGON_AI_ENABLED=false
DRAGON_PLAYBACK_ENABLED=false
DRAGON_MAGNETS_ENABLED=false
DRAGON_EXTERNAL_SYNC_ENABLED=false
DRAGON_NOTION_WRITEBACK_ENABLED=false
DRAGON_YOUTUBE_DELETE_ENABLED=false
DRAGON_YOUTUBE_SYNC_ENABLED=false
DRAGON_YOUTUBE_API_KEY=
DRAGON_YOUTUBE_WATCH_LATER_PLAYLIST_ID=
DRAGON_READING_TTS_ENABLED=false
